<form class="container text-left pt-3" method="post" action="/kurs/confirm_theme">
	<h1>Создание темы</h1>

	<div class="form-label-group">
		<input id="title" type="text" name="title" class="form-control" placeholder="Название">
		<label for="longing">Название</label>
	</div>
	<div class="form-label-group">
		<input id="desc" type="text" name="desc" class="form-control" placeholder="Описание">
		<label for="desc">Описание</label>
	</div>
	<div class="form-label-group">
		<input id="prof_name" type="text" name="prof_name" class="form-control" placeholder="Название программы">
		<label for="prof_name">Название программы</label>
	</div>
	<div class="form-label-group">
		<input id="sphere" type="text" name="sphere" class="form-control" placeholder="Область деятельности">
		<label for="sphere">Область деятельности</label>
	</div>
	<div class="form-label-group">
		<input id="speciality" type="text" name="speciality" class="form-control" placeholder="Специальность">
		<label for="speciality">Специальность</label>
	</div>
	<button class="btn btn-lg btn-dark btn-block shadow-sm mt-1" type="submit">Создать</button>
</form>
	
<script type="text/javascript">
	
</script>