<div class="cover-container d-flex w-100 h-100I p-3 mx-auto flex-column">
<div class="cover mb-auto"> Добро пожаловать </div>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Модуль управления курсами</h1>
    <p class="lead">Этот модуль позволяет создавать, и управлять курсами, а также регистрироваться на них</p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>2020 год <a href="https://vk.com/srcoflight">Алексей Кузин</a></p>
    </div>
  </footer>
</div>