<% layout('./layout/404') -%>
<h1> Wooops, something gone wrong </h1>
<h2> Ошибка <%= error.status %></h2>
<h3> <%= error.message %> </h3>
<button  class="head navbar-toggler bg-dark" onclick="new function(){window.location.assign('/')}" type="button"> На главную</button>

