<!DOCTYPE html>
<html>
<head>
	<title><%=blocks.title%></title>

	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/vendor/dadata/css/suggestions.css">
	<link rel="stylesheet" type="text/css" href="/vendor/selectize/css/selectize.default.css">

	<script type="text/javascript" src="/vendor/jQuery/jquery.js"></script>
	<script type="text/javascript" src="/vendor/@popperjs/core/dist/umd/popper.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/vendor/dadata/js/jquery.suggestions.js"></script>
	<script type="text/javascript" src="/vendor/selectize/js/standalone/selectize.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body class="bg-light">
	<%- body %>

</body>
</html>